body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.event-container {
    background-color: #ffffff;
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center; /* Added to center the contents */
}

.event-image {
    width: 50%; /* Smaller width */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block; /* To apply margin auto */
    margin-left: auto; /* Added to center the image */
    margin-right: auto; /* Added to center the image */
}

h1 {
    color: #333333;
    text-align: left; /* Keep the text alignment left for the title */
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #666666;
    text-align: left; /* Keep the text alignment left for the paragraphs */
}

p strong {
    color: #333333;
}
